---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import FAQ from "@components/FAQ.astro";
// import { Image } from "astro:assets";
import { Image } from "astro-lqip/components";
import clientData from "@data/client.json";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "@assets/images/home-landing.png";
import resFloor from "@assets/images/services/res-floor-1.png";
import comFloor from "@assets/images/services/commerce-1.png";
import about from "@assets/images/about.png";
import { getImage } from "astro:assets";
import { Icon } from "astro-icon/components";
import ContactCta from "@components/ContactCta.astro";
import Portfolio from "@components/Portfolio.astro";
import ServiceCards from "@components/ServiceCards.astro";
import ServiceFeature from "@components/ServiceFeature.astro";
import Reviews from "@components/Reviews.astro";
import SideBySide from "@components/SideBySide.astro";
import TrustBadge from "@components/TrustBadge.astro";
import ContactHeader from "@components/ContactHeader.astro";
import BadgeContent from "@components/BadgeContent.astro";
import WhyChooseUs from "@components/WhyChooseUs.astro";
import CTALink from "@components/CTALink.astro";
import TrustBadges from "@components/TrustBadges.astro";
import ServiceHighlights from "@components/ServiceHighlights.astro";
import WhyChoose from "@components/WhyChoose.astro";

type ServiceSection = {
  id: string;
  icon: string;
  label: string;
};

const serviceSections: ServiceSection[] = [
  { id: "residential-coatings", icon: "tabler:home-2", label: "Residential" },
  {
    id: "commercial-industrial-flooring",
    icon: "tabler:building-factory-2",
    label: "Commercial",
  },
  {
    id: "concrete-sealing-repair",
    icon: "tabler:tools",
    label: "Sealing ",
  },
  {
    id: "flake-colors-customization",
    icon: "tabler:palette",
    label: "Flake Colors",
  },
];

const optimizedImage = await getImage({ src: landingImage, format: "avif" });
---

<BaseLayout ogImage={optimizedImage}>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->
  <section
    id="hero-section"
    class="relative flex h-auto w-full items-center overflow-hidden pt-17.5 sm:h-[700px] md:pt-24 lg:h-[calc(100dvh-6.5625rem)]"
  >
    <!-- BACKGROUND WRAPPER (Target for Scale Up 1 -> 1.2) -->
    <div
      id="hero-bg-wrapper"
      class="absolute inset-0 z-0 h-full w-full will-change-transform"
    >
      <Image
        src={landingImage}
        alt="Epoxy Flooring Edmonton"
        class="h-full w-full object-cover"
        loading="eager"
        lqip="base64"
        lqipSize={10}
      />
      <div class="absolute inset-0 z-1 bg-fore-dark/20"></div>
    </div>

    <!-- CONTENT CONTAINER  -->
    <div
      class="relative z-10 mx-auto flex h-full w-full max-w-7xl items-center px-4 sm:px-8 lg:px-12"
      data-reveal-fr-r
      data-distance-x="100"
      data-delay-s="0.25"
      data-once="true"
    >
      <!-- THE WHITE CARD  -->
      <div
        id="hero-content-box"
        class="mt-20 mb-20 w-full max-w-xl origin-center rounded-sm bg-white/5 p-8 shadow-[inset_2px_0_0_0_var(--color-accent)] backdrop-blur-sm will-change-transform sm:mt-0 sm:mb-0 sm:shadow-2xl md:py-12 lg:px-8"
      >
        <!--  topper Small Header -->
        <!-- <span
          class="mb-2 block text-lg font-bold tracking-wider text-fore-light uppercase text-shadow-lg/20"
          data-stagger-b
          data-distance-y="150"
          data-delay-s="0.6"
          data-once="true"
        >
          Solid Concrete Coating
        </span> -->

        <div
          class="mb-6 flex flex-wrap gap-2"
          data-reveal
          data-direction="left"
          data-distance-x="30"
          data-delay-s="0.2"
          data-once="true"
        >
          {
            serviceSections.map((section) => (
              <a
                href={`/services/#${section.id}`}
                class:list={[
                  "group inline-flex items-center gap-2 rounded-full bg-fore-dark/30 px-4 py-2 font-mont text-xs font-medium text-neutral-300 inset-shadow-border/30 transition-all duration-300",
                  "hover:bg-primary/30 hover:text-accent hover:inset-shadow-border",
                ]}
                data-astro-prefetch
              >
                <Icon name={section.icon} class="size-3.5" />
                {section.label}
              </a>
            ))
          }
        </div>

        <!-- Main Headline -->
        <h1
          class="mb-6 font-mont text-4xl leading-[1.1] font-extrabold text-accent drop-shadow-sm text-shadow-lg/20 sm:text-5xl"
          data-stagger-b
          data-distance-y="150"
          data-delay-s="0.55"
          data-once="true"
        >
          Premium Concrete Coatings for Homes & Businesses
        </h1>

        <!-- Paragraph -->
        <p
          class="mb-8 font-mont text-base leading-relaxed text-balance text-fore-light text-shadow-md sm:text-lg"
          data-stagger-b
          data-distance-y="150"
          data-delay-s="0.5"
          data-once="true"
        >
          Durable • Long-Lasting • Easy to Clean • Customizable
          <!-- Transform your concrete surfaces with professional-grade coatings
          built for beauty, protection, and performance. Edmonton's #1 Floor
          Coating Installer. -->
        </p>

        <!-- Call to Action Area -->
        <div
          class="mb-6 flex flex-col gap-2 text-left"
          data-stagger-b
          data-distance-y="150"
          data-delay-s="0.45"
          data-once="true"
        >
          <span
            class="text-sm font-bold tracking-widest text-fore-light/80 uppercase text-shadow-lg/20"
          >
            Call Now to Get a Free Quote
          </span>
          <a
            href={`tel:${clientData.phoneForTel}`}
            class="text-4xl font-black text-fore-light transition-colors duration-300 text-shadow-lg/20 hover:text-primary"
          >
            {clientData.phoneFormatted}
          </a>
        </div>

        <!-- Button -->

        <!-- class:list={[
          "inline-block px-8 py-4 font-mont font-bold",
          "bg-primary text-fore-light inset-shadow-border transition-[background-color,color,border-radius] delay-0 duration-400 before:hidden",
          "hover:rounded-lg hover:bg-fore-light hover:text-fore-dark",
          "corner-squircle supports-[corner-shape:squircle]:hover:rounded-[50px]",
        ]} -->
        <CTALink
          data-stagger-b
          data-distance-y="150"
          data-delay-s="0.4"
          data-once="true"
          variant="primary"
        />
      </div>
    </div>
  </section>

  <TrustBadges />
  <ServiceHighlights />

  <WhyChoose />
  <!-- <section class="px-4 py-6 font-mont">
    <div class="">
      <h2
        class="pt-6 pb-8 text-center text-2xl text-h2 font-bold text-neutral-950"
      >
        What are you looking for?
      </h2>
      <div
        data-stagger-child-b
        data-distance-y="60"
        data-delay-s="0.2"
        data-once="true"
        class="mx-auto flex max-w-3xl flex-col gap-y-4 lg:max-w-full lg:flex-row"
      >
        {
          serviceInfo.map((service) => (
            <div class="group grid flex-1 before:z-10 before:bg-black/30 before:[grid-area:1/1]">
              <div class="max-h-162.5 overflow-hidden [grid-area:1/1]">
                <Image
                  src={service.image}
                  alt={service.imageAlt}
                  class="size-full object-cover transition-transform group-hover:scale-105"
                  loading="eager"
                  lqip="base64"
                  lqipSize={10}
                />
              </div>
              <div class="z-11 place-self-center p-4 [grid-area:1/1]">
                <h3 class="mb-4 text-center text-3xl font-semibold text-neutral-50 text-shadow-lg/20 sm:text-5xl">
                  {service.title}
                </h3>

                <p class="text-center text-neutral-50 text-shadow-md/30">
                  {service.description}
                </p>
              </div>

              <a
                href={service.href}
                class:list={[
                  "inline-block border-2 border-neutral-950 px-8 py-4 text-center text-xl font-bold",
                  "bg-amber-300 text-neutral-900 transition-[background-color,color,border-radius] delay-0 duration-400 before:hidden hover:border-amber-300",
                  "hover:bg-neutral-900 hover:text-neutral-50",
                ]}
              >
                Learn More
              </a>
            </div>
          ))
        }
      </div>
    </div>
  </section> -->

  <section class="px-4 py-6">
    <ContactHeader />
  </section>

  <ServiceFeature class={"pt-section-padding bg-neutral-100"} />

  <!-- ============================================ -->
  <!--                 Side By Side                 -->
  <!-- ============================================ -->
  <SideBySide
    image={about}
    alt="about us image"
    alignment="right"
    topper="Leader in Epoxy Flooring"
    title="POLYASPARTIC EPOXY FLOORING & GARAGE FLOOR COATING IN EDMONTON"
    body={`With over 10 years of industry experience, we specialize in delivering exceptional results that exceed expectations. Our Epoxy Flooring Edmonton solutions provide exceptional durability, aesthetic appeal, and protection for residential, commercial, and industrial spaces. Whether you want to upgrade your garage with a sleek, long-lasting finish or improve the resilience of your industrial facility, our expert team delivers top-quality Epoxy Flooring Edmonton services. Trust us for durable, stylish, and high-performance Epoxy Flooring Edmonton that enhances any space!`}
  />

  <!-- ============================================ -->
  <!--                   Gallery                    -->
  <!-- ============================================ -->

  <Portfolio class="bg-neutral-100" />

  <!-- ============================================ -->
  <!--                   Why Choose Us                    -->
  <!-- ============================================ -->

  <!-- ============================================ -->
  <!--                    FAQ                       -->
  <!-- ============================================ -->
  <FAQ />

  <!-- ============================================ -->
  <!--                   Reviews                    -->
  <!-- ============================================ -->
  <!-- <Reviews class={"bg-neutral-100"} /> -->

  <CTA />
</BaseLayout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  // Register the plugin
  gsap.registerPlugin(ScrollTrigger);

  // Initialize function to keep scope clean
  const initHeroAnimation = () => {
    const section = document.querySelector("#hero-section");
    const bgImage = document.querySelector("#hero-bg-wrapper");
    const contentBox = document.querySelector("#hero-content-box");

    if (!section || !bgImage || !contentBox) return;

    // Create a timeline linked to the scroll of the hero section
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: section,
        start: "top top", // When top of section hits top of viewport
        end: "bottom top", // When bottom of section hits top of viewport
        scrub: true, // Smoothly scrub the animation based on scroll position
        // markers: true, // Uncomment for debugging
      },
    });

    // 1. Scale UP the background image (1 -> 1.2)
    tl.to(
      bgImage,
      {
        scale: 1.3,
        ease: "none", // Linear ease is best for scrubbed animations
        force3D: true, // Forces GPU acceleration
      },
      0,
    ); // The '0' ensures this starts at the beginning of the timeline

    // 2. Scale DOWN the content box (1 -> 0.6)
    // We also add a slight opacity drop to mimic the depth effect in your screenshots
    tl.to(
      contentBox,
      {
        scale: 0.6,
        opacity: 1, // Fade out as it gets smaller/farther away
        ease: "none",
        force3D: true,
      },
      0,
    ); // The '0' ensures this runs simultaneously with the background
  };

  // Run on load
  initHeroAnimation();

  // Astro View Transitions support (if you are using them)
  document.addEventListener("astro:page-load", initHeroAnimation);
</script>
<style lang="less">
  /* STYLES FOR ABOVE THE FOLD */

  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #hero {
      font-family: "Roboto", "Arial", sans-serif;
      /* Centers button */
      text-align: center;
      /* changes on tablet */
      padding: 0 (16/16rem);
      padding-bottom: (100/16rem);
      position: relative;
      z-index: 1;
      /* prevents overflow from the lines extending past the screen width */
      overflow: hidden;

      .cs-picture {
        /* Background Image */
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          /* Black Color Overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: #000;
          opacity: 0.7;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          /* prevents the cursor from interacting with it */
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
          /* Makes image act like a background-image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16em);
        margin: auto;
        /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
        /* 144px - 280px - leaving extra space for the navigation */
        /* changes on tablet */
        padding: clamp(9em, 25.95vw, 17.5em) 0;
        position: relative;

        &:before {
          /* Left Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-flex-group {
        width: 80vw;
        /* 464px - 562px */
        max-width: clamp(29em, 60vw, 35.125em);
        margin: auto;
        /* 60px - 220px */
        margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
        color: var(--primary);
      }

      .cs-title {
        text-align: center;
        width: 100%;
        color: var(--bodyTextColorWhite);
      }

      .cs-text {
        text-align: center;
        /* 32px - 40px */
        margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 4vw, 3rem);
        color: var(--bodyTextColorWhite);
      }

      .cs-button-solid {
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        height: initial;
        margin-bottom: calc(16 / 16 * 1rem);
      }

      .cs-button-transparent {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        width: (180/16rem);
        /* 46px - 56px */
        height: clamp(2.875em, 5.5vw, 3.5em);
        margin: 0 (8/16rem);
        box-sizing: border-box;
        padding: 0;
        color: #fff;
        background-color: transparent;
        border: 1px solid var(--bodyTextColorWhite);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
          content: "";
          background: #000;
          opacity: 1;
          display: block;
          position: absolute;
          /* so it sits on top of the border */
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          z-index: -1;
          /* this is what creates the grow affect on hover */
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }

        .cs-img {
          margin-right: (12/16rem);
          display: block;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #hero {
      /* 32px - 40px */
      padding: 0 clamp(2em, 5vw, 2.5em);

      .cs-container {
        padding: clamp(7em, 27.95vw, 17.5em) 0 clamp(9em, 30.95vw, 23.5em) 0;
        &:after {
          /* Right Line */
          content: "";
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .cs-button-solid {
        margin-right: (20/16rem);
        margin-bottom: 0;
      }
    }
  }

  /* Desktop Parallax Effect - 1300px */
  @media only screen and (min-width: 81.25em) {
    #hero {
      background: url("/assets/images/hero.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      /* creates parallax effect on background image */
      background-attachment: fixed;
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #hero {
        .cs-background {
          &:before {
            opacity: 0.8;
          }
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    .services {
      width: 90%;
      max-width: (1320/16em);
      margin: auto;
      margin-top: (-167/16em);
      margin-bottom: (50/16em);
      padding: (50/16em) (20/16em);
      background: #fff;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
      border-top: (6/16em) solid var(--primary);
      border-radius: (5/16em);
      position: relative;
      z-index: 100;
      .card {
        width: 100%;
        max-width: (357/16em);
        margin: auto;
        margin-bottom: (50/16em);
        display: block;
        &:last-of-type {
          margin-bottom: 0;
        }

        picture {
          width: (88/16em);
          height: (88/16em);
          margin: auto;
          margin-bottom: (23/16em);
          background: var(--primary);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: (48/16em);
            height: (48/16em);
          }
        }
        h2 {
          font-size: (32/16em);
          font-weight: 700;
          line-height: 27/20em;
          text-align: center;
          margin-bottom: 13/20em;
          color: #1a1a1a;
        }
        p {
          line-height: 24/18em;
          text-align: center;
          width: 100%;
          opacity: 0.7;
        }
      }
    }
  }

  /* Inbetween */
  @media only screen and (min-width: 768px) {
    .services {
      font-size: ~"min(1.8vw, 1em)";
      width: 98%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .card {
        max-width: (325/16em);
        margin: 0;
      }
    }
  }

  /* Large Desktop */
  @media only screen and (min-width: 1300px) {
    .services {
      padding: (50/16em) (80/16em);

      .card {
        max-width: (357/16em);
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #services {
        background: var(--medium);

        picture {
          background: var(--primaryDark);
        }

        h2 {
          font-weight: bold;
          color: #fff;
        }
      }
    }
  }

  /* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        left: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        right: 0;
        bottom: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);

        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }

      .cs-button-solid {
        margin-top: (32/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #sbs-r {
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        max-width: (1280/16rem);
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: (40/16rem);
      }

      .cs-left {
        /* scaling the font size with the view width */
        font-size: ~"min(2.31vw, .7em)";
        /* using ems so we can use font size to scale the whole section */
        width: (631/16em);
        height: (636/16em);
        position: relative;
      }

      .cs-picture {
        border-radius: (24/16em);
        display: block;
        position: absolute;
        /* clips img tag corners */
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          /* makes image act like a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-picture1 {
        width: (522/16em);
        height: (581/16em);
        top: 0;
        right: 0;
      }

      .cs-picture2 {
        width: (414/16em);
        height: (400/16em);
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
        /* 6px - 12px */
        border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
        bottom: 0;
        left: 0;
      }

      .cs-right {
        max-width: (542/16rem);
        margin: auto;
      }

      .cs-topper {
        text-align: left;
        margin-bottom: (4/16rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        max-width: (750/16rem);
        margin-bottom: (16/16rem);
        &:last-of-type {
          margin-bottom: (32/16rem);
        }
      }

      .cs-flex-group {
        /* 16px - 32px */
        padding: clamp(1rem, 3vw, 2rem);
        background-color: #f7f7f7;
        border-radius: (16/16rem);
        position: relative;
      }

      .cs-flex-p {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        margin: 0 0 (16/16rem);
        color: #353535;
      }

      .cs-name {
        font-size: (16/16rem);
        font-weight: bold;
        line-height: 1.2em;
        text-transform: uppercase;
        margin: 0 0 (4/16rem);
        color: var(--headerColor);
        display: block;
      }

      .cs-job {
        font-size: (14/16rem);
        line-height: 1.5em;
        color: #353535;
        display: block;
      }

      .cs-quote-icon {
        /* 60px - 136px */
        width: clamp(3.75rem, 10vw, 8.5rem);
        height: auto;
        position: absolute;
        /* 16px - 32px */
        right: clamp(1rem, 4vw, 2rem);
        bottom: (0/16rem);
      }
    }
  }

  /* Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #sbs-r {
      .cs-container {
        flex-flow: row;
        justify-content: space-between;
        gap: (52/16rem);
      }

      .cs-left {
        font-size: ~"min(1.2vw, 1em)";
        /* sends it to the right */
        order: 2;
        flex: none;
      }

      .cs-right {
        margin: 0;
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #sbs-r {
        .cs-left {
          &:before,
          &:after {
            background: var(--accent);
          }
        }

        .cs-picture2 {
          background-color: var(--dark);
          /* 6px - 12px */
          border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
        }

        .cs-topper {
          color: var(--primaryLight);
        }

        .cs-title,
        .cs-text,
        .cs-h3,
        .cs-flex-p,
        .cs-name {
          color: var(--bodyTextColorWhite);
        }

        .cs-flex-group {
          background-color: var(--accent);
        }

        .cs-job {
          color: var(--bodyTextColorWhite);
          opacity: 0.8;
        }

        .cs-quote-icon {
          opacity: 0.2;
        }
      }
    }
  }

  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-topper {
        text-align: center;
        margin-bottom: (16/16rem);
      }

      .cs-title {
        text-align: center;
        max-width: (621/16rem);
        margin-bottom: (40/16rem);
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }

  /* Dark mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #gallery {
        .cs-title {
          color: var(--bodyTextColorWhite);
        }
      }
    }
  }
</style>
