---
import clientData from "@data/client.json";
import { Icon } from "astro-icon/components";
import ContactCta from "@components/ContactCta.astro";
import CTALink from "./CTALink.astro";
---

<div class="mx-auto flex max-w-300 flex-col gap-5 p-4 md:gap-6 md:p-6">
  <h2 class="text-heading font-extrabold uppercase">
    Solid Concrete Coating Ltd. - Premium Epoxy Flooring
  </h2>

  <div
    class="flex w-full flex-wrap items-center justify-between gap-2 sm:gap-5"
  >
    <div class="grid gap-3">
      <a
        href={`tel:${clientData.phoneForTel}`}
        class="inline-flex items-center gap-3 font-bold"
      >
        <Icon name={"tabler:phone-filled"} class={"size-5"} />
        {clientData.phoneFormatted}
      </a>

      <a
        href={`mailto:${clientData.email}`}
        class="inline-flex items-center gap-3 overflow-hidden font-bold"
      >
        <Icon name={"tabler:mail-filled"} class={"size-5"} />
        <span class="overflow-hidden text-ellipsis">
          {clientData.email}
        </span>
      </a>

      <a
        href={`tel:${clientData.address.mapLink}`}
        class="inline-flex items-center gap-3 font-bold"
      >
        <Icon name={"tabler:map-pin-filled"} class={"size-5"} />
        {clientData.address.lineOne}
      </a>
    </div>
    <div>
      <!-- <ContactCta label="Free Estimate" /> -->
      <CTALink
        label="Free Estimate"
        class:list={[
          "inline-block px-8 py-4 font-bold",
          "border-2 border-amber-300 bg-amber-300 text-neutral-900 transition-[background-color,color,border-radius] delay-0 duration-400 before:hidden",
          "hover:rounded-lg hover:bg-neutral-900 hover:text-neutral-50",
          "corner-squircle supports-[corner-shape:squircle]:hover:rounded-[50px]",
        ]}
      />
    </div>
  </div>
</div>
